.Browser {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 0.1em solid lightblue;
  margin: 1em 1em 1em 1em;
  padding-bottom: 1em;
  flex: 1 1 auto;
  align-content: flex-start;
}
