.NavBar {
  display: flex;
  justify-content: flex-start;
  height: 3em;
  position: sticky;
  top: 0px;
  background: white;
}

.NavBar__CurrentPath {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
}
